body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TTHakgyoansimJiugaeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2') format('woff2');
    
    font-style: normal;
}

#c_join{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/002.jpg);
    overflow: hidden;
}

#c_join h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'TTHakgyoansimJiugaeR';
    font-weight: lighter;
}

#join_box{
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'TTHakgyoansimJiugaeR';
    font-weight: lighter;
}
#join_box h4{
    margin-top: 40px;
    margin-bottom: 10px;
}


#join_box .wide_in{
    width: 70%;
    height: 20px;
}
#join_box .join_btn{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    width: 30%;
    height: 40px;
    border: none;
    background-color: #ffde64;
    border-radius: 10px;
    font-family: 'TTHakgyoansimJiugaeR';
    font-weight: lighter;
    cursor: pointer;
}

#join_box .check_btn{
    width: 80px;
    height: 25px;
    border: none;
    background-color: #ffde64;
    border-radius: 50px;
    font-family: 'TTHakgyoansimJiugaeR';
    font-weight: lighter;
    cursor: pointer;
}
